<!DOCTYPE html>
<html>
<head>
    <title>Your Financial Advice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container result-container cash-background">
        <h1>Your Question: {{ balance }}</h1>
        <p><strong>💸 {{ advice }}</strong></p>
        <p><strong>💳  {{ advice }}</strong></p>
        <form action="/" method="post">
            <input type="text" name="balance" placeholder="purchase advice?" required>
            <button type="submit">Get More Advice</button>
        </form>
    </div>
</body>
</html>
